@charset "UTF-8";

/*main_banner*/

.main_banner {
  position: relative;
  max-width: 1920px;
  height: 712px;
  margin-bottom: -712px;
  margin: 0 auto;
  background: url(../img/img-sub-main-visual-about.png) center no-repeat;
}

.main_banner2 {
  background: url(../img/member/img-sub-main-visual-member.png) center no-repeat;
}

header {
  overflow: hidden;
  width: 1340px;
  margin: 0 auto;
  height: 90px;
  line-height: 90px;
  box-sizing: border-box;
}

header h1,
header nav,
header .switch_lang {
  display: inline-block;
  overflow: hidden;
}

header .switch_lang {
  float: right;
}

header h1 {
  height: 100%;
  line-height: 90px;
}

header nav .nav {
  margin-left: 375px;
}

/* header nav .nav:after {
  content: "";
  display: block;
  clear: both;
} */

header nav .nav > li {
  margin-right: 112px;
  float: left;
  box-sizing: border-box;
}

/* header nav .nav li:hover {
  border-bottom: 2px solid #fff;
  transition: 0.3s;
  box-sizing: border-box;
} */

header nav .nav > li:last-child {
  margin-right: 0;
}

header nav .nav > li:after {
  content: "";
  display: ;
  transition: 0.3s;
}

header nav .nav > li:last-child {
  margin-right: 0;
}

header nav .nav > li > a,
header .switch_lang {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/*.sub_gnb*/
header .sub_gnb {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 90px;
  margin-left: -512px;
  min-width: 1024px;
  text-align: center;
  z-index: 20;
  height: 112px;
  line-height: 112px;
}

header .sub_gnb:after {
  content: "";
  display: block;
  clear: both;
}

header .sub_gnb > li {
  float: left;
  margin-left: 48px;
}

header .sub_gnb > li:first-child {
  margin-left: 0;
}

header .sub_gnb li a {
  color: #fff;
}

header .sub_gnb li a:hover {
  font-weight: bold;
}

header .switch_lang:after {
  content: "";
  display: block;
  clear: both;
}

header .switch_lang span {
  float: left;
  margin-right: 12px;
}

header .switch_lang span:nth-of-type(2) {
  display: inline-block;
  width: 14px;
  height: 4px;
  background-color: white;
  margin-top: 41px;
}

header .switch_lang span:last-child {
  margin-right: 0;
  color: #999;
}

.main_banner .sub_gnb_bg {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  height: 112px;
  background: #000;
  border-top: 1px solid #979797;
}

.main_banner .page_title {
  width: 1340px;
  margin: 0 auto;
  font-size: 96px;
  font-weight: bold;
  margin-top: calc(320px - 90px);
  color: white;
  text-transform: uppercase;
}

/*footer*/
footer {
  position: relative;
  height: 304px;
  margin-top: 192px;
  background-color: #000;
}

footer .back_to_top {
  position: absolute;
  top: -32px;
  right: 40px;
}

footer .footer_inner {
  width: 1340px;
  margin: 0 auto;
  overflow: hidden;
}

footer .footer_inner:after {
  content: "";
  display: block;
  clear: both;
}

footer .footer_inner .left,
footer .footer_inner .right {
  display: inline-block;
}

footer .footer_inner .left {
  margin-top: 72px;
  float: left;
}

footer .footer_inner .left .information {
  color: #fff;
}

footer .footer_inner .left .information li {
  margin-top: 12px;
  font-size: 18px;
}

footer .footer_inner .left .copyrights {
  margin-top: 36px;
  color: #666;
  font-size: 14px;
}

footer .footer_inner .right {
  margin-top: 74px;
  float: right;
}

footer .footer_inner .right #cooperation {
  padding-bottom: 10px;
  width: 230px;
  background: none;
  border: none;
  border-bottom: 1px solid #999;
  color: #999;
}
